@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --padding-main: 80px;
  --padding-detail: 80px;
  --padding-y: 40px;

  --header-height: 96px;
  --height-input: 48px;
  --color-red: #e03;
  --color-logo: #ff385c;
  --text-color-primary: #222222;
  --text-color-second: #717171;

  --grey-blur: #f7f7f7;
  --color-border: #141212;

  --color-grey: #b0b0b0;
  --max-w: 1200px;

  /* admin */
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

@layer base {
  /* h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  } */
  /* ... */
}

@layer components {
  .text-primary {
    color: var(--text-color-primary);
    font-size: 16px;
    font-weight: 600;
  }

  .container_px {
    width: 100%;
    max-width: var(--max-w);
    margin: 0 auto;
    margin-top: 3rem;
  }

  .shadow_common {
    @apply shadow-[rgba(0,0,0,0.12)_0px_6px_16px];
  }

  .flex_center {
    @apply flex justify-center items-center;
  }

  .text_filter_apartment {
    @apply text-base font-medium text-primary;
  }

  .text_card_heading {
    @apply text-lg font-medium text-primary;
  }

  .text_card_sub_heading {
    @apply text-lg font-normal text-second;
  }

  .text_apartment_detail {
    @apply text-lg font-medium text-primary;
  }

  .spacing_between_cpn_detail {
    @apply py-pd-spacing-cpn border-b-2 border-c-grey;
  }

  .heading__detail_apartment {
    @apply text-primary text-2xl mb-2;
  }

  .sub_heading__detail_apartment {
    @apply text-primary text-xl mb-2;
  }
}
